.choices-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.choices-content{
    width: 100%;
    height: 11rem;
    padding: 0.5em 0;
    /* background-color: beige; */
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.choice-btn {
    background-color: white;
    padding: 1rem;
    width: 40%;
    border: 0;
    border-radius: 5rem;
    transition: all 0.15s ease;

    font-family: var(--mono);
    font-weight: 600;
    font-size: 25px;
    margin: 0.5em;

    box-shadow: 0 6px 0 #b8ccef;
}

.choice-btn:hover {
    background-color: #dae8ff;
    cursor: pointer;
}

.choice-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #b8ccef;
}
.choice-btn.clicked {
    background-color: #1256c4;
    color: #fff;

    animation: pressIn 0.2s ease-out forwards;
}

@keyframes pressIn {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(4px);
    }
}
.mini-video-card.active{
    height: 40%;
    width: 100%;
    background-color: palegreen;
}
.tricky-words-card.active{
    height: 40%;
    width: 100%;
    background-color: paleturquoise;
}
.choice-btn.disabled{
    background-color: grey;
    opacity: 0.7;
    cursor: not-allowed;
}
.choice-btn.correct {
    background-color: #4CAF50;
    color: white;

    animation: correctPop 0.5s ease-out;
}
.show-side{
    height: 100%;
}

@keyframes correctPop {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.25);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
.choice-btn.wrong {
    background-color: #e74c3c;
    color: white;

    animation: wrongAnswer 0.5s ease-in-out;
}
.choice-btn.video-playing {
    background-color: grey;
    opacity: 0.7;
    cursor: not-allowed;
}

@keyframes wrongAnswer {
    0% {
        transform: scale(1);
    }

    20% {
        transform: translateX(-10px) scale(0.98);
    }

    40% {
        transform: translateX(10px) scale(0.98);
    }

    60% {
        transform: translateX(-8px) scale(0.98);
    }

    80% {
        transform: translateX(8px) scale(0.98);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}
