.question-card{
    height: auto;
    padding: 1rem;
    border-radius: 5rem;
    font-family: --var(mono);
    font-weight: 600;
    font-size: 35px;
    color: #010917;
}
.selected{
    text-align: left;
    padding-left:2.5em;
}