.card{
    padding: 1rem;
    background-color: powderblue;
    width: 100%;
    height: 50vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.video-playback{
    border-radius: 1rem;
    border: 10px solid;
    border-color: pink;
    width: 100%;
    height: 100%;
    background: white;
}