.card{
    width: auto;
    height: 50vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.video-playback{
    border-radius: 10px;
    border: 10px solid;
    border-color: #fff;
    width: auto;
    height: 100%;
    background: white;
}